.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .account-container {
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.281);
    width: 30%;
    overflow: hidden;
    padding: 2rem;
    text-align: center;
    h2 {
      margin-bottom: 1rem;
      font-size: 32px;
      text-transform: uppercase;
      text-shadow: 0 10px 10px #000;
    }
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        color: #fff;
        width: 60%;
        background-color: #0005;
        padding: 10px 15px;
        margin: 8px 0;
        border: none;
        outline: none;
        border-radius: 8px;
        padding: 1rem;
        &:focus {
          background-color: #0009;
        }
      }
    }
    button {
      background-color: #0005;
      color: #a408ff;
      padding: 15px 45px;
      font-size: 16px;
      text-transform: uppercase;
      border: 1px solid #a408ff;
      font-weight: 600;
      border-radius: 8px;
      margin: 20px;
      transition: 0.5s;
      width: 60%;
      cursor: pointer;
      &:hover {
        background-color: #a408ff;
        color: #000;
      }
    }
    p {
      color: #cccc;
      cursor: pointer;
      transition: 0.2s;
      &:hover {
        color: #a408ff;
      }
    }
  }
}
