.title {
  margin-top: 1rem;
  font-size: 3rem;
  text-align: center;
  text-shadow: 5px 10px 10px #000;
}
.page-cont {
  margin: 0 auto;
  max-width: 1920px;
  @media screen and (min-width: 1200px) {
    width: 100%;
  }
  .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      @media screen and (max-width: 768px) {
        width: 90%;
      }
      width: 30%;
      padding: 1.2rem;
      font-size: 16px;
      border: none;
      border-radius: 1rem;
      outline: none;
      background-color: #0006;
      color: #fff;
    }
  }
}
.container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2rem auto;
  padding: 1rem;
  .days {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      text-shadow: 5px 10px 10px #000;
    }
    // margin: auto;
    ul {
      display: flex;
      list-style-type: none;
      gap: 1rem;
      overflow: hidden;

      li {
        transition: 0.2s;

        &:hover {
          color: #a408ff;
          transform: translateY(-3px);
          cursor: pointer;
        }
        &.active {
          color: #a408ff;
          transform: translateY(-3px);
        }
      }
    }
  }
}

.events-container {
  // @media screen and (margin-top: 2560px) {
  //   width: 40%;
  // }
  // @media screen and (min-width: 3840px) {
  //   width: 30%;
  // }
  width: 60%;
  min-height: 500px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); //change for mobiles

  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.281);
  margin: auto;
  border-radius: 1rem;

  .no-events {
    font-size: 24px;

    color: #777;
    position: absolute;
    right: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .card {
    a {
      display: block;
      img {
        width: 100%;
        min-height: 80%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        transition: transform 0.2s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    width: 100%;
    min-height: 350px; // chanbge for mobiles
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    cursor: pointer;

    // img {
    //   width: 100%;
    //   height: 80%;
    //   position: absolute;
    //   top: 0;
    //   object-fit: cover;
    //   transition: 0.2s;
    //   //   overflow: hidden;
    //   &:hover {
    //     transform: scale(1.1);
    //   }
    // }
    .event-info {
      @media screen and (max-width: 768px) {
        height: 120px;
      }
      width: 100%;
      height: 90px;
      background-color: black;
      position: absolute;
      bottom: 0;
      text-align: left;
      padding-bottom: 2rem;
      padding-left: 1rem;
      p {
        text-transform: capitalize;
        font-weight: 400;
        margin: 3px 5px;
      }
      .dates {
        font-weight: 400;
        color: #777;
        font-size: 14px;
      }
    }
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .ticket-dash {
    border: dashed black 2px;
    width: 90%;
  }
  .buy {
    background-color: black;
    border-radius: 0.5rem;
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    text-transform: uppercase;
    &:hover {
      transform: translateY(5px);
      cursor: pointer;
    }
  }
}

.line-break {
  width: 30%;
  margin: 1rem auto 2rem;
  height: 1rem;
  background-color: black;
  border: none;
  border-radius: 1rem;
}

@media screen and (max-width: 968px) {
  .days li {
    display: none;
  }
  .days h1 {
    margin: auto;
    text-align: left;
    display: flex;
  }

  .events-container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 1rem;
    padding: 1.2rem;
  }
  .buy {
    font-size: 12px;
  }
  .all {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: 2rem;
    padding: 0.5rem;
  }
}
